@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --bg-color: hsl(0, 0%, 87%);
    --body-color: hsl(200, 12%, 5%);
    --container-color: hsl(200, 10%, 8%);
    --border-color: hsl(0, 0%, 20%);
    --white: #fff;


    /* =========font and typography============== */
    --body-font: 'Poppins',
        sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.5rem;
    --larger-font-size: 1.2rem;
    --large-font-size: 1.125rem;

    /* ====== font-weight====== */
    --weight-300: 300;
    --weight-400: 400;
    --weight-600: 600;
}

/* ------body color-------- */
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: var(--bg-color);
}