* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'poppins', sans-serif;
}

nav {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    cursor: pointer;
}

.search-input {
    width: 25vw;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid white;
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.search-input:focus {
    color: #fff;
    font-weight: 600;
    background-color: transparent;
}

.search-input::placeholder {
    color: #fff;
    padding-left: 10px;
    font-weight: 600;
}

/* 
#search-input {
    width: 20vw;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #ccc !important;

    box-shadow: none !important;

    outline: none !important;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
}

#search-btn:active {
    background-color: #333;
}


.card {
    width: 22%;
    margin: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    height: 100px;
    overflow: auto;
}

.news-title {
    font-size: 15px;
    font-weight: 600;
}

@media (max-width:450px) and (max-height:800px) {
    #search-input {
        width: 40vw;
    }

    .card {
        width: 80vw;
        margin-top: 4vh;
    }
}

@media (max-width:850px) and (min-width:450px) {
    #search-input {
        width: 40vw;
    }

    .card {
        width: 40vw;
        margin-top: 4vh;
    }
}