* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* ====== page1 ====== */

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1 {
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 9vw;
}

#page1 h1 svg {
    height: 6.5vw;
    width: 6.5vw;
    border-radius: 50%;
    background-color: #0da34e;
}

#page1 p {
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}

#page1-something {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1-something h4 {
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 1px solid #a5a5a5;
    border-radius: 50px;
    margin-top: 0.5vw;
    margin-right: .25vw;

}

#page1-something h4:nth-last-child(2) {
    border: none;
    padding: 2px;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}

/* ====== nav bar ======= */
nav {
    position: fixed;
    /* background-color: red; */
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.85vw 6.5vw;
    justify-content: space-between;

}

#nav-bottom {
    /* background-color: red; */
    height: 0%;
    width: 87%;
    position: absolute;
    bottom: 0%;
    border-bottom: 1px solid #dadada;
    transition: all ease 0.65s;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.85vw 15vw;
    padding-left: 18vw;
    /* padding-top: 6vw; */
}

#nav-bottom .bottom-div:nth-last-child(1) {
    margin-right: -0.35vw;
}

.bottom-div {
    /* background-color: red; */
    margin-top: 2vw;

}

.bottom-div h5 {
    /* background-color: red; */
    margin-bottom: 0.4vw;
}

.bottom-div h5 span {
    font-weight: 500;
    font-size: 0.85vw;
    opacity: 0;
}

nav:hover #nav-bottom {
    height: 100%;
    bottom: -100%;
    background-color: #111;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
}

.nav-part2 h4 {
    font-size: 0.9vw;
    font-weight: 600;
    text-transform: uppercase;
}

nav button {
    background-color: #0da34e;
    display: flex;
    align-items: center;
    padding: 2px 7px;
    font-size: 1.125vw;
    font-weight: 800;
    border-radius: 50px;
    border: none;
}


nav button svg {
    height: 3vw;
    width: 3vw;
    margin-left: 0.4vw;
}